#body-wrap-error
  display flex
  flex-direction column
  align-items center
  justify-content center
  text-align center
  height 100vh

.error_title
  position: relative
  color #333
  font-size 30vh
  font-weight 700
  margin -10vh 0 0
  padding 0
  &:after
    content attr(data-error-title)
    position absolute
    top 0
    left 0
    right 0
    color transparent
    background -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6)
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    background-size 400%
    animation animateTextBackground 10s ease-in-out infinite

.error_subtitle
  position: relative
  color #999
  font-size 7vh
  font-weight 700
  line-height 7vh
  &:after
    content attr(data-error_subtitle)
    position absolute
    top 0
    left 0
    right 0
    color transparent
    -webkit-background-clip text
    -moz-background-clip text
    background-clip text

@keyframes animateTextBackground
  0%
    background-position: 0 0
  25%
    background-position: 100% 0
  50%
    background-position: 100% 100%
  75%
    background-position: 0 100%
  100%
    background-position: 0 0

@media (max-width: 767px)
  .error_title
    font-size: 32vw
  .error_subtitle
    font-size: 8vw
    line-height: 10vw
    max-width: 70vw
