.breadcrumb
  display flex
  margin 2rem 0 1.5rem

.breadcrumb-link,
.breadcrumb-span
  display inline-block
  height 2rem
  line-height 2rem

.breadcrumb-link
  padding 0 1rem
  color var(--color-text)
  background rgba(255, 255, 255, 0.1)
  border-radius 0.5rem
  font-weight bold
  text-decoration none
  cursor pointer
  overflow-wrap break-word
  transition all 0.2s ease 0s
  &:hover
    color #fff
    background #333
