.maps-placeholder
  position relative
  width 100%
  height 37.5rem
  &:hover
    .maps-picture
      opacity 0.3
    .maps-button
      opacity 1

.maps-picture
  min-width 100%
  min-height 100%
  will-change transform
  object-position 50% 50%
  object-fit cover
  opacity 1

.maps-button
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  padding 10px 20px
  font-size 16px
  opacity 0.1

.maps-iframe
  width 100%
  height 37.5rem
  border 0
