$mobile-menu-scroll-before = hexo-config('mobile_menu_scroll.before')
$mobile-menu-scroll-after = hexo-config('mobile_menu_scroll.after')

@keyframes menubgmoving
  0%
    background-position: center bottom
  50%
    background-position: center top
  100%
    background-position: center bottom

@keyframes menubgmovingback
  0%
    background-position: center top
  50%
    background-position: center bottom
  100%
    background-position: center top

#nav
  display flex
  width 100%
  left 0
  position fixed
  justify-content center
  flex-direction column
  background hsla(0, 0%, 100%, 0.5)
  align-items center
  z-index 2
  transition ease-in-out 0.3s
  -webkit-backdrop-filter blur(8px)
  backdrop-filter blur(8px)

.nav-container
  display flex
  justify-content space-between
  align-items center
  height 3.75rem
  z-index 2
  transition ease-in-out 0.3s

.nav-left
  z-index 9

.nav-center,
.nav-right
  display flex
  align-items center

.site-logo
  display flex
  align-items center
  color var(--color-text)
  text-decoration none

.site-logo-img
  height 2.5rem

.site-title
  margin-left 0.5rem
  font-size 1rem
  font-weight 600

.menu-list
  display flex
  justify-content space-around

.menu-item
  position relative

.menu-list,
.menu-item,
.mobile-menu-list,
.mobile-menu-item
  list-style none
  margin 0
  padding 0

.menu-dropdown
  position absolute
  overflow hidden
  height 1px
  top -60rem
  border-radius 0.75rem
  box-shadow 0 0 0.5rem 0 rgba(0, 0, 0, 0.2)
  background #fff
  opacity 0
  transition none

.menu-link
  color var(--color-text)
  opacity 0.8
  transition ease-in-out 0.3s
  font-size 14px
  margin 0 2px
  padding 4px 12px
  border-radius 1rem
  text-decoration none
  &:hover
    opacity 1
    background #333
    color #fff

.menu-item-children
  &:hover .menu-dropdown
    top 1rem
    height auto
    opacity 1
    transform translateY(0.5rem)
    transition transform 0.3s cubic-bezier(0.27, 2.01, 0.24, 0.9), opacity 0.3s ease

.menu-list-nested
  display block
  min-width 8rem
  padding 4px 2px

.menu-link-children
  display block
  margin 0.25rem
  padding 0.5rem
  border-radius 0.5rem
  transition all 0.2s linear

#menu-button
  display none
  user-select none

.fullscreen-menu
  display none
  position fixed
  overflow hidden
  top 0
  left 0
  width 100vw
  height 100vh
  background-color #080808
  align-items center
  z-index 5

.fullscreen-menu.active
  display flex
  transition ease-in-out 0.3s

.site-logo.active,
.menu-button.active
  color #ccc

.mobile-nav
  display flex
  width 90%
  height 100vh
  margin 0 auto
  flex-direction column
  justify-content space-between
  z-index 6

.mobile_menu_scroll
  opacity 0
  visibility hidden
  &:before,
  &:after
    position absolute
    content ""
    width 150px
    height 100%
    top 0
    visibility hidden
    transition all 0.3s ease
    transition-delay 250ms
    filter brightness(33%)
  &:before
    right 175px
    background url($mobile-menu-scroll-before) no-repeat center bottom
    background-size cover
    animation menubgmovingback 100s linear infinite
  &:after
    right 0
    background url($mobile-menu-scroll-after) no-repeat center bottom
    background-size cover
    animation menubgmoving 100s linear infinite

.mobile-menu-link-group,
.mobile-menu-footer
  z-index 7

.mobile-menu-link
  display inline-block
  text-decoration none
  padding 2rem 0 1rem
  color #fff
  font-weight 600
  font-size 2rem
  line-height 2rem

@media screen and (min-width: 769px)
  .fullscreen-menu.active
    display none
  .site-title.active,
  .menu-button.active
    color var(--color-text)

@media screen and (max-width: 768px)
  .nav-center,
  .nav-right .menu-link
    display none
  #menu-button
    display flex
    padding 8px 0 8px 8px
    font-size 24px
    cursor pointer
    z-index 9
  .mobile_menu_scroll
    opacity 1
    visibility visible
    &:before
      visibility visible
      width 200px
      right 280px
    &:after
      visibility visible
      width 200px
      right 40px
  .mobile-menu-link-group,
  .mobile-menu-footer
    padding 0 2rem

@media screen and (max-width: 500px)
  .mobile_menu_scroll
    opacity 1
    visibility visible
    &:before
      visibility visible
      width 150px
      right 180px
    &:after
      visibility visible
      width 150px
      right 10px
  .mobile-menu-link-group,
  .mobile-menu-footer
    padding 0 1rem
