extends includes/layout.pug

block content
  .nav-height
    article#page
      if (page.gallery && page.pageinfo)
        include includes/_partial/page/gallery.pug
      .container
        != page.content
        p= page.type
  #paginator!= paginator()
