script.
  const siteTitle = document.getElementById('site-title');
  const menuButton = document.getElementById('menu-button');
  const fullscreenMenu = document.getElementById('fullscreen-menu');
  menuButton.addEventListener('click', () => {
    siteTitle.classList.toggle('active');
    menuButton.classList.toggle('active');
    fullscreenMenu.classList.toggle('active');
  });
