if theme.imagesloaded.enable && theme.imagesloaded.js.src !== ''
  if theme.imagesloaded.js.integrity !== ''
    script(src=url_for(theme.imagesloaded.js.src) integrity=theme.imagesloaded.js.integrity crossorigin='anonymous' referrerpolicy='no-referrer')
  else
    script(src=url_for(theme.imagesloaded.js.src) crossorigin='anonymous' referrerpolicy='no-referrer')
