if theme.section.use_simple_parallax
  script.
    function loadSimpleParallaxJS() {
      const script = document.createElement('script');
      script.src = '/js/simpleParallax.min.js';
      script.onload = () => {
        initSimpleParallaxConfig()
      }
      document.body.appendChild(script);
    }
    function initSimpleParallaxConfig() {
      new simpleParallax(document.getElementsByClassName('section-banner-img'), {
        orientation: 'up',
        scale: 1.2,
        delay: 2,
        transition: 'cubic-bezier(0,0,0,1)',
        maxTransition: 50,
        overflow: true
      })
    }

  //- import simpleParallax js
  if theme.simple_parallax.cdn.enable && theme.simple_parallax.cdn.js.src !== ''
    if theme.simple_parallax.cdn.js.integrity !== ''
      script(src=url_for(theme.simple_parallax.cdn.js.src) integrity=theme.simple_parallax.cdn.js.integrity crossorigin='anonymous' referrerpolicy='no-referrer' onerror='loadSimpleParallaxJS()' onload='initSimpleParallaxConfig()')
    else
      script(src=url_for(theme.simple_parallax.cdn.js.src) crossorigin='anonymous' referrerpolicy='no-referrer' onerror='loadSimpleParallaxJS()' onload='initSimpleParallaxConfig()')
  else
    script(src=url_for(theme.simple_parallax.local.js) onload='initSimpleParallaxConfig()')
