if theme.section.for_home
  each value in theme.section.for_home
    //- TODO: 后续尝试改成传递参数方式去复用代码
    case value
      when 'kernel'
        !=partial('includes/_partial/section/kernel-banner.pug', {}, {cache: true})
      when 'kernel_cards'
        !=partial('includes/_partial/section/kernel-cards-banner.pug', {}, {cache: true})
      when 'content'
        !=partial('includes/_partial/section/content-banner.pug', {}, {cache: true})
      when 'content_cards'
        !=partial('includes/_partial/section/content-cards-banner.pug', {}, {cache: true})
