header
  !=partial('includes/header/nav', {}, {cache: true})
  if !is_home() && is_page()
    if page.open == true
      include ./page/open-wrap.pug
    else
      include ./page/not-open-wrap.pug

  if !is_home() && is_post()
    include ./post/layout-item.pug
