- let mobileMenuScroll = theme.mobile_menu_scroll.enable ? "mobile-nav mobile_menu_scroll" : "mobile-nav"

div(class=mobileMenuScroll)
  div
  .mobile-menu-link
    ul.menu-list
    each value, label in theme.mobile_menu
      if typeof value !== "object"
        li.menu-item
          a.menu-link(href=url_for(trim(value)))=label
  .mobile-menu-footer
