- var homePage = is_home() && page.prev == 0

doctype html
html
  head
    include ./head.pug
  body
    if page.type !== '404'
      //- TODO: message

      include ./header/index.pug

      //- 首页轮播是否开启
      if homePage && theme.slide.enable
        include ./_partial/slide.pug

      main
        if body
          div!= body
        else
          block content

      footer#footer

      include ./_partial/scripts/imagesloaded.pug
      include ./_partial/scripts/fullscreen-menu.pug
      include ./_partial/scripts/home-slide.pug

    else
      include ./404.pug
