- var homePage = is_home() && page.prev == 0
- var pageOpenWrap = page.open == true ? 'showcase' : ''

doctype html
html(lang=config.language)
  head
    include ./head.pug
  body
    if page.type !== '404'
      //- TODO: message

      include ./header/index.pug

      //- 首页轮播是否开启
      if homePage && theme.slide.enable
        include ./_partial/slide.pug

      main(class=pageOpenWrap)
        if body
          div!= body
        else
          if homePage
            //- 加载首页各板块
            include ./_partial/home-section.pug
          block content
      footer#footer
        !=partial('includes/footer', {}, {cache: true})

      include ./_partial/scripts/fullscreen-menu.pug

      if homePage
        include ./_partial/scripts/home-slide.pug
        include ./_partial/scripts/simple-parallax.pug

      if page.open == true
        include ./_partial/scripts/open-wrap.pug

    else
      include ./404.pug

    //- 插入尾部代码
    if theme.inject.bottom
      each item in theme.inject.bottom
        !=item
