
doctype html
html
  head
    include ./head.pug
  body
    if page.type !== '404'
      //- TODO: message

      include ./header/index.pug

      main
        if body
          div!= body
        else
          block content

      footer#footer

      include ./_partial/scripts/fullscreen-menu.pug

    else
      include ./404.pug
